@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<div class='container'>



<p><a href='/client'>Back to Client List</a></p>
<hr/>
<h5>Add a new Client</h5>
<form action="/client" method="post">
  <label for="newClient"></label>
  <input id="newClient" name="clientName" type="text">
 
   <br/> <br/>
  <select class="form-control" id="selectstylist" name="stylistId" style="width: 240px">
   <p>select a stylist </p>>
   @foreach(Stylist stylist in Stylist.GetAll())
    {
      
      <option value="@stylist.GetStylistId()">@stylist.GetStylistName()</option>
    }

  </select>
  <br/>
  <button type="submit" class='btn btn-success' >Comfirm</button>
</form>
</div>