@{
  Layout = "_Layout";
}
<div class='container'>
<h1>Hair Salon System</h1>



<h1>All the Clients Infomation</h1>


<p><a href='/client/new'>Add a New Client</a></p>
<br/>

<h1>Name</h1>

<br/><br/><br/>

  @foreach(var client in Model)
  { 
    <li><a href ='@client.GetClientId()'>@client.GetClientName()</a></li>
  }
<br/><br/>

<form action="/client/deleteAll" method="post">
       <!-- <label for="StylistName">Add a new client to this stylist</label>
      <input id="StylistName" name="clientName" type="text"> -->
     
      <button type="submit">deleteAll</button>
    </form>>

<a href="/">HOME</a>
</div>