@{
Layout = "_Layout"; 
}
@using HairSalon.Models;

<div class='container'>
    <h2>The info of SP:@Model.GetSpecialtyName()</h2>
     <br/>
     Client NUM:<span style="color:rgb(35, 201, 201)">xxxx;</span>
      <br/>



<h3>All the Stylists For Specialty: @Model.GetSpecialtyName()</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Stylist name</th>
    <th>Stylists phone</th>
     <th>specialty</th>
    <th>VIEW</th>
  </tr>

<ul>

@foreach (Stylist st in @Model.GetStylists())
{
  <tr>
  <td>
    @st.GetStylistId()
  </td>
<td>
<h4>@st.GetStylistName()</h4>
</td>
<td>
  
</td>
<td>
   specialty
</td>
<td>
  <a href="/Client/client.GetClientId()">VIEW</a>
</td>
</tr>
}

</ul>
</table>



<hr/>
<a href='/Specialty'><button class='btn btn-info'>Back Specialty</button></a>
<a href='/'><button class='btn btn-success'>Back Home</button></a>
</div>
