  @{
  Layout = "_Layout";
  }
  @using HairSalon.Models;

  <div class='container'>
    <h4>welcome to hair salon system</h4>
<br/><br/>
  <div class="row">
  <div class="col-lg-4">
  <h1><a href="Stylist/"><button class='btn-warning'>Manage  Stylists</button></a></h1>
  <h2>Number Stylists : @Stylist.GetAll().Count</h2>
  <br/>
<p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
fff<span class="glyphicon glyphicon-pencil"></span>
  </div>
  <div class="col-lg-4">
  <h1><a href="Client/"><button class='btn-info'>Manage  Clients</button></a></h1>
  <h2>Number Clients : @Client.GetAllClients().Count</h2>
 <span class="glyphicons glyphicons-user-add"></span>
  </div>
  <div class="col-lg-4">
  <h1><a href="Specialty/"><button class='btn-primary'>VIEW  Specialty</button></a></h1>
  <h3>Specialties : @Specialty.GetAll().Count</h3>
 <span class="glyphicons glyphicons-user-add"></span>
  </div>
  </div>
