@{
  Layout = "_Layout";
}
<div class='container'>
<h1>Add a new Stylist</h1>
<p><a href='/stylist/'>Back to List<a/></p>
<hr/>
<form action="/stylist" method="post">
  <label for="StylistName">Add a new stylist!!!!!!!!</label>
  <input id="StylistName" name="StylistName" type="text">
  <button type="submit">Submit,add a stylist in the table</button>
</form>
</div>