@{
  Layout = "_Layout";
}
<div class='container'>
<h2>Add a new Stylist</h2>

<hr/>
<p><a href='/stylist/'>Back to List</a></p>
<br/>
<form action="/stylist" method="post">
  <label for="StylistName">Add a new stylist</label>
  <br/>
  <input id="StylistName" name="StylistName" type="text">
  <button type="submit" class='btn btn-success'> Confirm</button>
</form>
</div>