@{
  Layout = "_Layout";
}
<div class='container'>


<hr/>

<br/>
<h2>Add a new Stylist</h2>
<form action="/stylist" method="post">
  <label for="StylistName">stylist Name</label>
  <br/>
  <input Class="StylistInfo" name="stylistName" type="text">
  <br/>
  <label for="StylistPhone">phone number</label>
  <br/>
  <input Class="StylistInfo" name="stylistPhone" type="text"value="stylistPhone">
  <br/>
  <label for="StylistEmail">email</label>
  <br/>
  <input Class="StylistInfo" name="stylistEmail" type="text" value="zhu@email">
  <br/>
  <label for="StylistDate">Hired Date</label>
  <br/>
  <input Class="StylistInfo" name="stylistHD" type="text" value="date">
  <br/>
  <!-- can select many ,who dont belong to syslists-->
  <!-- <label for="StylistName">client</label>
  <br/>
  <input id="StylistName" name="StylistEmail" type="text"> -->


  <br/> <br/>
  <button type="submit" class='btn btn-success'> Confirm</button>
</form>
<br/>
<p><a href='/stylist/'><button class='btn btn-info'>Back to List</button></a></p>
</div>
