@{
  Layout = "_Layout"; 
}
@using HairSalon.Models;

<div class='container'>
  <h1>Stylist!!!</h1>
  <hr/>
  <ul>
    @foreach (var client in @Model["client"])
    {
      <h4>@client.GetClientName()</h4>
    }
  </ul>
  
    <form action="/stylist/@Model["stylist"].GetStylistId()" method="post">
       <label for="StylistName">Add a new client to this stylist</label>
      <input id="StylistName" name="clientName" type="text">
     
      <button type="submit">add the new client!</button>
    </form>>


  <!-- <a href='/stylists/@Model["stylist"].GetStylistId()/client/new'><button class='btn btn-danger'>Add a client for this stylist</button></a> -->
</div>
