@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<div class='container'>
  <h1>Hair Salon System</h1>

  <br/>


  <h2>Stylists</h2>

  @foreach (Stylist stylist in @Stylist.GetAll())
  {
    <li><a href='/stylist/@stylist.GetStylistId()'>@stylist.GetStylistName()</a> </li>
  }
  <a href='/stylist/new'><button class='btn btn-warning'>Add Stylist</button></a>
  <a href='/'><button class='btn btn-success'>Back Home</button></a>
</div>